.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    background-color: #092c4c;
    border-radius: 1rem;
    width: 100%;
    margin: 1rem;
    padding: 1rem;

    h2 {
      color: #fff;
      font-weight: 600;
      font-size: 1.5em;
      margin-top: 1rem;
    }
    input {
      width: 100%;
      background: #fff;
      justify-content: center;
      display: flex;
      padding: 0.4rem 1rem;
      border: none;
      outline: none;
      border-radius: 5px;
    }

    button {
      border: none;
      background-color: #f2994a;
      color: #fff;
      padding: 0.3rem;
      font-size: 1.3rem;
      font-weight: 500;
      border-radius: 0.3rem;
      text-align: center;
      width: 10rem;
      margin: 0 auto;
      display: block;
    }
    .error-message {
      color: rgb(240, 82, 82);
    }
  }
  @media screen and (min-width: 768px) {
    form {
      max-width: 500px;
    }
  }
}
