
.title-container{
    padding: 1rem;
    

    h2{
        font-size: 2rem;
        color: #000;
    }
    button{
        border: none;
        background-color: #f2994a;
        color: #fff;
        padding: .5rem 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        border-radius: .3rem;
    }
}

@media screen and (min-width: 650px) {
  .title-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
}
@media screen and (min-width: 1000px) {
  .title-container{
      display: block;
      position: absolute;
      top: 10rem;
      left: 2rem;
      z-index: 100;
    background-color: #29344186 ;
    border-radius: 1rem;

     h2{
        font-size: 2rem;
        color: #fff;
    }
  }
}
