// ------------------ MENU ---------

.Container-Genral {
  display: flex;
  flex-direction: column;
}

.icon-DashboardUser {
  font-size: 30px;
  margin: 10px;
  display: flex;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 11;
}

.Container-sidebar {
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  cursor: pointer;
  border: 2px solid black;
  animation: slide-menu-out 1s ease 0s 1 normal forwards;
  background-color: white;
}

.Container-sidebar.active {
  width: 100%;
  animation: slide-menu-in 1s ease 0s 1 normal forwards;
}

// ------------------ CONTENT ---------

.DashboardUser-userInfo {
  border-bottom: 2px solid black;
  text-align: center;
  padding-top: 10px;
  >img{
    width: 50%;
    border: solid
  }
  p{
    margin: 10px 0;
  } 
}


.Last-reservs {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Favs-hotels-name,
.Last-reservs-name {
  display: flex;
  justify-content: center;
}

.li-menu {
  border-bottom: 2px solid black;
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.li-menu:hover {
  border: 2px solid black;
}

.Container-data {
  /*-------------------------------------------------------------------*/
}
.Container-Favs{
  width: 100%;
  .Favs-Cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    >div{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 400px;
  margin: 5px;
  .cardUserImg_here{
    width: 100%;
    height: 50%;
  }
  p{
    font-size: 1em;
  }
}
.container-reserv{
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 20px;
}


.img-dash,
.name-dash,
.price-dash,
.person-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-dash-user{
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  position: absolute;
  right: 21rem;
}

// ---------- KEY FRAMES -----------

@keyframes slide-menu-in {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-menu-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}

@media (min-width:768px){
  .Container-sidebar{
    max-width: 300px;
  }
  .DashboardUser-userInfo {
    >img{
      width: 200px;
    }
  }
  .container-card{
    width: 300px;
    margin: 0 25px;
  }
}