// ------------------ NAV ---------
.Container-Nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: static;
  top: 0;
  right: 0;
  z-index: 101;
  width: 100%;
  background-color: #fff;

  .logo-container-user {
    display: flex;
    justify-content: center;
    align-items: center;

    .h2-user {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;

      .span-user {
        color: #f2994a;
      }
    }
  }
}

// ------------------ MENU ---------

.Container-user {
  display: flex;
  flex-direction: column;
}

.Container-menu-icon {
  font-size: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.Container-menu {
  width: 100%;
  max-width: 390px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  cursor: pointer;
  border: 2px solid black;
  animation: slide-menu-out 1s ease 0s 1 normal forwards;
  background-color: white;
}

.Container-menu.active {
  animation: slide-menu-in 1s ease 0s 1 normal forwards;
}

// ------------------ CONTENT ---------

.Container-dash-name {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-size: 30px;
}

.Favs-Cards,
.Last-reservs {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Favs-hotels-name,
.Last-reservs-name {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.li-menu {
  border-bottom: 2px solid black;
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.li-menu:hover {
  border: 2px solid black;
}

.Container-data {
  margin: 40px;
}

.h2-container {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

// ---------- KEY FRAMES -----------

@keyframes slide-menu-in {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-menu-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}

// ---------------------------------
