
.Reviews-div{
    border-radius: 0.3rem;
    text-align: justify;
    font-weight: 500;
    position:relative;  
    padding: 1rem;
    margin: 1rem 0;
    background-color: #0d4577;

    
        .fecha-review{
          font-weight: 300;
          font-size: small;
          
          
        }

        .fecha-review2{
            font-weight: 300;
          font-size: small;
          margin:0;
          display: inline;
          margin-right: 0.5rem;
            
        }

        .estrellas-review{
            border: 1px solid var(--main-blue);
            border-radius: 0.3rem;
            font-weight: 300;
            font-size: medium;
            position:absolute;
            top: 0.5rem;
            left: 1rem;
        }
          
        .description-review{
            padding:1rem;
            width: 90%;
            font-size: small;
            text-align: justify;
        }

        .houseName{
            text-transform: capitalize;
        }
        .imgReview{
            border-radius: 10px;
        }

        .deleteReview{
            background-color:red;
            padding: 0.3rem 0.2rem 0rem 0.2rem;
        }
        .modificar{
            background-color: var(--main-orange);
            padding: 0.3rem 0.2rem 0rem 0.2rem;
        }
        .publicar{
            background-color: var(--main-blue);
            font-size: small;
            padding: 0.5rem;            
            &:hover{
                background-color: 
                #0b3b64;
            }
        }
        img{
            margin: 1rem;
            height: 8rem;
            width: 8rem;
        }
        .botoncitos{
            position:absolute;
            right: 0.3rem;
            top:0.3rem;
        }

        .textareaReview{
            max-width: 100%;
        
        }
        
        .description-review{
            max-width: 100%;
            word-wrap: break-word;
        }
        
        
}

