
.Reviews-div{
    border-radius: 0.3rem;
    // border: 1px solid #fff;
    text-align: justify;
      font-weight: 500;
    position:relative;
      
      padding: 1rem;
      margin: 1rem 0;
      background-color: #0d4577;
      .fecha-review{
          font-weight: 300;
          font-size: small;
          
          
        }
        .fecha-review2{
            font-weight: 300;
          font-size: small;
          margin:0;
          display: inline;
          margin-right: 0.5rem;
            
          }
        .estrellas-review{
            background-color: var(--main-blue);
            border-radius: 0.3rem;
            font-weight: 300;
            font-size: medium;
            position:absolute;
            top: 0.5rem;
            left: 1rem;
            
            
          }
          
        .description-review{
            font-size: small;
            text-align: justify;
            
        }
        .deleteReview{
            background-color: 
            red;
            margin:0.2rem;
        }
        .modificar{
            background-color: var(--main-orange);
            margin:0.2rem;
        }
        .publicar{
            background-color: var(--main-blue);
            font-size: small;
            padding: 0.5rem;            
            &:hover{
                background-color: 
                #0b3b64;
            }
        }
        .buttonPoP{
            border: 1px solid #fff;
            border-radius: 0.3rem;
        
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            padding: 0px;
            background-color: var(--main-blue);
            &:hover{
                background-color: 
                #0b3b64;
            }
          }
        img{
            margin: 1rem;
            height: 8rem;
            width: 8rem;
        }
        .botoncitos{
            position:absolute;
            right: 0.3rem;
            top:0.3rem;
        }
        
        
}

