.ContainerPaginado{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.BotonPaginado{
    border: none;
    background-color: var(--main-blue);
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    transition: all 0.2s;
    width: 2rem;
    cursor:pointer;
}

.BotonPaginado:hover{
    transform:scale(1.05);
}

.BotonPaginado:active{
    transform:translateY(4px);
}