.allHome {
  padding: 100px 0px 0px 40px;
  position: absolute;
  z-index: 10;
}

.textHome {
  background-color: #757d876b;
  padding: 2px;
  border-radius: 10px;
  margin-right: 10px;
}

.img {
  height: 92vh;
  width: 100vw;
}

.slick-dots li button {
  background-color: #922d05 !important;
  padding: 5px 10px 5px 10px !important;
  border-radius: 15px !important;
}

.slick-dots li {
  margin: 0px 8px 2px 8px !important;
}

<<<<<<< HEAD
=======
.formDiv{
	align-items: center;
	background-color: var(--white);
	background: url("https://cdn.pixabay.com/photo/2017/03/29/15/18/tianjin-2185510_960_720.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}
>>>>>>> 8a542bc54dc76aeaa6f0f7beaecc6741d78c05d9
