.generalContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: -1000px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(141, 122, 112);
  height: 100vh;
  width: 200px;
  border-radius: 5px;
}

.buttons {
  display: none;
}

@media (max-width: 800px) {
  .filtersContainer {
    display: none;
    transition: 300ms;
  }

  .filtersContainer.active {
    display: flex;
    transition: 300ms;
  }

  .buttons {
    display: inline-flex;
    position: relative;
    top: 210px;
    left: 97vw;
    font-size: 20px;
    transition: 300ms;
  }

  .buttons:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 600px) {
  .buttons {
    left: 96vw;
  }
}

@media (max-width: 450px) {
  .buttons {
    left: 95vw;
  }
}
