.generalContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 80px;
  right: 0px;
}

.filtersContainer {
  display: flex;
  align-items: center;
  background-color: #092c4c;
  height: 747px;
  width: 200px;
  border-radius: 10px 0px 0px 0px;
  flex-direction: column;
}

.buttons {
  display: none;
}



@media (max-width: 600px) {
  .buttons {
    left: 96vw;
  }
}



// ------------------------------------------------------------------------------------------------------------------------------------
// Key Frames
// ------------------------------------------------------------------------------------------------------------------------------------

@keyframes FilterIn {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FilterOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}




// ------------------------------------------------------------------------------------------------------------------------------------
// Media Querys.
// ------------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 446px) and (min-width: 375px) {
  .buttons {
    display: inline-flex;
    position: absolute;
    transition: 300ms;
    left: 30.7rem;
    top: 21px;
    font-size: 40px;
  }

  .generalContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 80px;
    right: -117px;
  }

  .filtersContainer {
    display: flex;
    animation: FilterOut 1s ease-in-out 0s 1 normal forwards;  
  }

  .filtersContainer.active {
    display: flex;
    animation: FilterIn 1s ease-in-out 0s 1 normal forwards;  
  }

}

@media screen and (max-width: 650px) and (min-width: 446px) {
}

@media screen and (max-width: 768px) and (min-width: 650px) {
}


@media screen and (max-width: 820px) and (min-width: 768px) {
}

@media screen and (max-width: 900px) and (min-width: 820px) {
}

@media screen and (max-width: 1022px) and (min-width: 900px) {
}

@media screen and (max-width: 1022px) and (min-width: 965px) {
}

@media screen and (max-width: 1022px) and (min-width: 995px) {
}

@media screen and (max-width: 1022px) and (min-width: 1015px) {
}

@media screen and (max-width: 1500px) and (min-width: 1022px) {
}

