.generalContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 80px;
  right: 0px;
}

.filtersContainer {
  display: flex;
  align-items: center;
  background-color: rgba(50, 50, 51, 0.8);
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  height: 718px;
}

.buttons {
  display: none;
}

// ------------------------------------------------------------------------------------------------------------------------------------
// Key Frames
// ------------------------------------------------------------------------------------------------------------------------------------

@keyframes FilterIn {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes FilterOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}

// ------------------------------------------------------------------------------------------------------------------------------------
// Media Querys.
// ------------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .buttons {
    display: inline-flex;
    position: absolute;
    transition: 300ms;
    right: 5em;
    top: 21px;
    font-size: 40px;
  }

  .generalContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 80px;
    z-index: 40;
  }

  .filtersContainer {
    display: none;
    animation: FilterOut 1s ease-in-out 0s 1 normal forwards;
  }

  .filtersContainer.active {
    display: flex;
    animation: FilterIn 1s ease-in-out 0s 1 normal forwards;
  }
}

@media screen and (max-width: 1022px) and (min-width: 820px) {
  .generalContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 80px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1022px) {
  .generalContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 80px;
  }
}
