.home {
  display: grid;
  grid-template-columns: 420px 420px 420px;
  grid-auto-rows: 320px 320px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

// ------------------------------------------------------------------------------------------------------------------------------------
// Media Querys.
// ------------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 446px) and (min-width: 375px) {
  .home {
    display: inline-flex;
  }
}

@media screen and (max-width: 650px) and (min-width: 446px) {
  .home {
    display: inline-flex;
    flex-direction: column;
    margin-left: 100px;
  }
}

@media screen and (max-width: 768px) and (min-width: 650px) {
  .home {
    display: inline-flex;
    flex-direction: column;
    margin-left: 110px;
  }
}

@media screen and (max-width: 820px) and (min-width: 768px) {
  .home {
    display: inline-flex;
    flex-direction: column;
    margin-left: 280px;
  }
}

@media screen and (max-width: 900px) and (min-width: 820px) {
  .home {
    display: inline-flex;
    flex-direction: column;
    margin-left: 190px;
  }
}

@media screen and (max-width: 1022px) and (min-width: 900px) {
  .home {
    display: inline-flex;
    flex-direction: column;
    margin-left: 250px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1022px) {
  .home {
    display: grid;
    grid-template-columns: 240px 240px 240px 230px;
    grid-auto-rows: 370px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1400px) {
  .home {
    display: grid;
    grid-template-columns: 310px 310px 310px 310px;
    grid-auto-rows: 370px;
  }
}
