
.fullHome{
    background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
    background-attachment: fixed;
    background-position: center;
}

.home{
    display: flex;
    justify-content: center;
}

.cardsHome{
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

@media screen and( min-width: 850px) {
    .cardsHome{   
    grid-template-columns: repeat(2, 1fr);
    }
    .home{
        justify-content: flex-start;
    }
}

@media screen and(min-width: 900px) {
    .home{
        margin-left: 50px;
    }
}

@media screen and( min-width: 1200px) {
    .cardsHome{   
    grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and( min-width: 1600px) {
    .cardsHome{   
    grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and( min-width: 1920px) {
    .cardsHome{   
    grid-template-columns: repeat(5, 1fr);
    }
    .home{
        margin-left: 0px;
    }
}