.container-form {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  h2 {
      color: #fff;
      font-weight: 600;
      font-size: 2em;
      margin-top: 1rem;
    }
    .content-form {
        background-color: #092c4c;
        border-radius: 2rem;
        height: 580px;
        overflow: hidden;
        width: 500px;
  }
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ingreso-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff ;
    color: #000;
    border-radius: 1rem 1rem 0 0;
    transition: .8s ease-in-out;
    min-height: 100%;
   
    h2 {
      color: #000;
    }
  }

  input {
    width: 70%;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 0.3rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .translate{
      transform: translateY(-420px);
  }
}

@media screen and (min-width: 446px) {
  .content-form{
      min-width: 30%;
  }
}

