/* ---------------- Variables ---------------- */

$color-neutral-900: hsl(207, 19%, 9%);
$color-neutral-100: hsl(0, 0%, 100%);
$color-accent-900: #f2994a;
$minWidth: 375px;
$mediWidth1: 446px;
$mediWidth2: 540px;
$mediWidth3: 712px;
$maxWidth1: 1022px;
$maxWidth2: 1920px;

/* ---------------- All Cards styles ---------------- */
.containerCards {
  margin: 10px;
  position: relative;
  display: grid;
  align-items: flex-end;
  line-height: 1.6;
  height: 300px;
  width: 300px;
  border-radius: 0px 0px 10px 10px;
  transition: transform 500ms ease;
  overflow: hidden;
}

/* ---------------- Sections Styles ---------------- */

.divText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0.8)
  );
  border-radius: 0px 0px 10px 10px;
  z-index: 20;
}

.divImg {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 1;
}

.stars{
  border: 0px transparent ;
  background: transparent;
  font-size: 2rem;
  color:rgb(238, 15, 15);
  position: absolute;
  top: 0.5rem;
  transition: all 0.2s;
  right: 1rem;
  z-index: 2;
}

.stars:hover{
  transform:scale(1.05);
}

.stars:active{
  transform:scale(1.2);
}
/* ---------------- Card content Style ---------------- */

.textCards {
  color: $color-neutral-100;
  font-size: 20px;
}

.titleCards {
  color: $color-neutral-100;
  font-size: 25px;
  position: relative;
  width: max-content;
  max-width: 290px;
}

.titleCards::after {
  content: "";
  position: absolute;
  left: calc(1.5rem * -1);
  bottom: -5px;
  height: 4px;
  background-color: $color-accent-900;
  width: calc(100% + 1.5rem);
  transform-origin: left;
  transition: transform 500ms ease;
}

/* ---------------- Carrousel Imgs Style ---------------- */

.imgCard {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

/* ---------------- Hover Animations ---------------- */

.containerCards:hover {
  transform: scale(1.05);

  .titleCards::after {
    transform: scaleX(1);
  }

  .divText {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}

@media (hover) {
  .divText {
    transform: translateY(50%);
    transition: transform 500ms ease;
  }
  .titleCards::after {
    transform: scaleX(0);
  }
}

/* ---------------- Media Querys ---------------- */


@media screen and (max-width: 446px) and (min-width: 375px) {
  .containerCards {
    width: 300px;
    height: 300px;
  }
  .imgCard {
    width: 300px;
    height: 300px;
  }
  .titleCards {
    font-size: 35px;
  }
  .textCards {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) and (min-width: 446px) {
  .containerCards {
    width: 400px;
    height: 300px;
  }
  .imgCard {
    width: 400px;
    height: 300px;
  }
  .titleCards {
    font-size: 40px;
  }
  .textCards {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) and (min-width: 700px) {
  .containerCards {
    width: 510px;
    height: 400px;
  }
  .imgCard {
    width: 510px;
    height: 400px;
  }
  .titleCards {
    font-size: 40px;
  }
  .textCards {
    font-size: 30px;
  }
}

@media screen and (min-width: 900px) {
  .containerCards {
    width: 300px;
    height: 300px;
  }
  .imgCard {
    width: 300px;
    height: 300px;
  }
  .titleCards {
    font-size: 30px;
  }
  .textCards {
    font-size: 20px;
  }
}