.allDetail {
  display: grid;
  grid-template-rows: 80px 1fr 100px 1fr 1fr 100px;
  grid-template-columns: 50px 1fr 50px;
  height: 100vh;
}

.navbar {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.carrouselConteiner {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.imgDetail {
  height: 341px;
  display: inline-flex;
}

.title {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.description {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  font-size: 15px;
}

.facilities {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.offer {
  font-weight: 600;
}

.text-detail {
  text-transform: capitalize;
}

// .services {
//   grid-row: 6 / 7;
//   grid-column: 1 / 4;
//   font-size: 15px;
//   text-align: center;
// }

.btnDetail {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.reservar {
  font-size: 20px;
  color: #000;
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.back {
  font-size: 20px;
  color: #000;
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

// -------------------------------------------------------------------------------------

@media (min-width: 607px) {
  .allDetail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .navbar {
    grid-column: 1 / 13;
  }

  .carrouselConteiner {
    grid-column: 1 / 13;
  }

  .imgDetail {
    width: 100vw;
  }

  .title {
    grid-column: 1 / 13;
  }

  .description {
    grid-column: 1 / 13;
  }

  .facilities {
    grid-column: 1 / 13;
  }

  .btnDetail {
    grid-column: 1 / 13;
  }
}

// -------------------------------------------------------------------------------------

@media (min-width: 900px) {
  .allDetail {
    grid-template-rows: repeat(9, 1fr);
  }

  .carrouselConteiner {
    margin-top: 30px;
    grid-column: 1 / 11;
  }

  .imgDetail {
    object-fit: scale-down;
  }

  .title {
    grid-column: 3 / 11;
  }

  .description {
    grid-column: 4 / 10;
  }

  .facilities {
    grid-column: 4 / 11;
  }

  .btnDetail {
    grid-column: 4 / 11;
    grid-row: 8 / 9;
  }
}

@media (min-width: 1600px) {
  .imgDetail {
    height: 500px;
  }
}
