.house-datail {
  display: flex;
  justify-content: center;

  .house-datail-container {
    margin: 5rem 0;
    width: 98%;
    h2 {
      font-size: 2rem;
      text-transform: capitalize;
    }
    .carrousel-conteiner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .location-container {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .description-container {
      background-color: var(--main-blue);
      margin: 1rem 0;
      color: #fff;
      padding: 1rem;
      border-radius: 0.3rem;
      text-align: justify;
      font-weight: 500;

      .price-per-night-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }
    .reservar {
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      cursor: pointer;
      border: none;
      background-color: var(--main-orange);
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
    }
    .need-login{
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .house-datail-container {
    max-width: 1020px;

    .description-container {
    }
  }
}
