.house-datail {
  display: flex;
  justify-content: center;

  .house-datail-container {
    margin: 5rem 0;
    width: 98%;
    h2 {
      font-size: 2rem;
      text-transform: capitalize;
    }
    .carrousel-conteiner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info-container {
      display: grid;
      // grid-template-columns: repeat(1, 1fr);

      .location-container {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .description-container {
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 0.3rem;
        text-align: justify;
        font-weight: 500;
        background-color: rgba(211, 211, 211, 0.644);
        /* border: 2px solid var(--main-blue);; */
      }
      .facilities-services-container{
       
        .icon-fs-container{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: .5rem;
          text-transform: capitalize;
          margin: 1rem 0;
        }
      }
      
    }
  }
  .icon-center{
    display: flex;
    align-items: center;
    gap: 1rem;

    p{
      margin-top: .5rem;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .house-datail-container {
    max-width: 1020px;
    .info-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .description-container {
    }
  }
}
