.img{
    height: 100vh;
    width: 100vw;
}

.slick-dots li button{
    background-color: #922d05 !important;
    padding: 5px 10px 5px 10px !important;
    border-radius: 15px !important;
}

.slick-dots li{
    margin: 0px 8px 2px 8px !important;
}