.generalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 80px;
  right: 0px;
}

.filtersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(50, 50, 51, 0.8);
  border-radius: 0px 0px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 718px;
}

.buttons {
  display: none;
}

@-webkit-keyframes FilterIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes FilterIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes FilterOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
}

@keyframes FilterOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    -webkit-transition: 300ms;
    transition: 300ms;
    right: 5em;
    top: 21px;
    font-size: 40px;
  }
  .generalContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 80px;
    z-index: 40;
  }
  .filtersContainer {
    display: none;
    -webkit-animation: FilterOut 1s ease-in-out 0s 1 normal forwards;
            animation: FilterOut 1s ease-in-out 0s 1 normal forwards;
  }
  .filtersContainer.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: FilterIn 1s ease-in-out 0s 1 normal forwards;
            animation: FilterIn 1s ease-in-out 0s 1 normal forwards;
  }
}

@media screen and (max-width: 1022px) and (min-width: 820px) {
  .generalContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 80px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1022px) {
  .generalContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 80px;
  }
}
/*# sourceMappingURL=Aside.css.map */