.formLOGIN {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: grid;
  justify-items: center;
}

.login-form-forgot {
  padding: 20px;
}

.Btn-register {
  position: absolute;
  top: 60px;
  left: -20px;
}
.or {
  position: absolute;
  left: 26px;
}
