$background: #092c4c;
$font-color: #ffffff;

.footContainer {
  background-color: $background;
  width: 100%;
  display: flex;
  flex-direction:column; 
  padding-bottom: 10px;
}

.div-about {
  background-color: rgba(217, 217, 217, 0.4);
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.footTitle {
  color: $font-color;
  font-size: 25px;
}

.footDescription {
  color: $font-color;
  font-size: 15px;
}

.copy {
  color: $font-color;
}

.git-icon {
  color: white;  
  font-size: 20px;
}

.underFoot{
  display: flex;
  width: inherit;
  justify-content: space-around;
  font-size: 15px;
}

// ------------------------------------------------------------------------------------------------------------------------------------
// Media Querys.
// ------------------------------------------------------------------------------------------------------------------------------------

// @media screen and (max-width: 445px) and (min-width: 375px) {
//   .container {
//     grid-template-rows: 260px 5px;
//     grid-template-columns: 290px 125px 131px;
//     width: 531px;
//     height: 300px;
//   }
// }

// @media screen and (max-width: 768px) and (min-width: 445px) {
//   .container {
//     grid-template-rows: 260px 5px;
//     grid-template-columns: 290px 125px 131px;
//     width: 542px;
//     height: 300px;
//   }
// }

// @media screen and (max-width: 1024px) and (min-width: 768px) {
//   .container {
//     grid-template-rows: 207px 5px;
//     grid-template-columns: 704px 125px 131px;
//     width: 960px;
//     height: 240px;
//   }
// }

// @media screen and (max-width: 1440px) and (min-width: 1024px) {
//   .container {
//     grid-template-rows: 207px 5px;
//     grid-template-columns: 895px 125px 131px;
//     width: 1147px;
//     height: 234px;
//   }
// }
