$background: #092c4c;
$font-color: #ffffff;

.footContainer {
  background-color: $background;
  width: 100%;
  display: flex;
  flex-direction:column; 
  padding-bottom: 10px;
}

.div-about {
  background-color: rgba(217, 217, 217, 0.4);
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.footTitle {
  color: $font-color;
  font-size: 25px;
}

.footDescription {
  color: $font-color;
  font-size: 15px;
}

.copy {
  color: $font-color;
}

.git-icon {
  color: white;  
  font-size: 20px;
}

.underFoot{
  display: flex;
  width: inherit;
  justify-content: space-around;
  font-size: 15px;
}

// ------------------------------------------------------------------------------------------------------------------------------------
// Media Querys.
// ------------------------------------------------------------------------------------------------------------------------------------


