@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /*========== Color ==========*/

  --main-blue: #092c4c;
  --main-orange: #f2994a ;
  --main-white: #ffffff ;
  --main-gray: #6f6f6f ;
  --main-ligth-gray: #757d87;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-light: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Font color ==========*/
  --text-color:rgb(40, 38, 58);
  
  /*========== Border-Radious ==========*/
  --border-radious-normal: 1rem; 
  --border-radious-small: .2rem; 
}



/*========== Base ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

button{
  cursor:pointer
}
button:hover{
  transform: scale(1.05);
}
button:active{
  transform: translateY(4px);
}
textarea {
  resize: none;
}

/*========== Scroll-Bar ==========*/

::-webkit-scrollbar {
  width: 0.6rem;
  background-color:#092c4c;
}

::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  border-radius: 0.5rem;
}