.ContainerCards {
  display: inline-grid;
  padding: 0px;
  margin: 35px;
  margin-right: 71px;
  border-radius: 36px;
  box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.364), inset 20px 20px 17px -14px rgba(0, 0, 0, 0.364);
  text-transform: capitalize;
  width: 500px;
  height: 450px;
  justify-items: center;
}

.imagen {
  width: 300px;
  height: 200px;
}

.name {
  font-size: 30px;
}
