$background: #092c4c;
$font-color: #ffffff;

.container {
  background-color: $background;
  width: 1854px;
  display: inline-grid;
  grid-template-rows: 163px 25px;
  grid-template-columns: 1550px 225px 30px;
  position: absolute;
  bottom: 0px;
}

.div-about {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: rgba(217, 217, 217, 0.4);
  margin: 15px;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 4px;
}

.title {
  color: $font-color;
  font-size: 10px;
}

.description {
  color: $font-color;
  font-size: 10px;
}

.copy {
  grid-column: 0 / 1;
  grid-row: 2 / 3;
  color: $font-color;
  text-align: center;
  font-size: 10px;
}

.icon {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: center;
  color: white;
}

.github {
  font-size: 13px;
  color: #000000;
  margin: auto;
  margin-top: 0px;
  margin-right: 20px;
}

.copy-icon {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

// ------------------------------------------------------------------------------------------------------------------------------------
// Media Querys.
// ------------------------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 445px) and (min-width: 375px) {
  .container {
    grid-template-rows: 260px 5px;
    grid-template-columns: 290px 125px 131px;
    width: 531px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) and (min-width: 445px) {
  .container {
    grid-template-rows: 260px 5px;
    grid-template-columns: 290px 125px 131px;
    width: 542px;
    height: 300px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    grid-template-rows: 207px 5px;
    grid-template-columns: 704px 125px 131px;
    width: 960px;
    height: 240px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .container {
    grid-template-rows: 207px 5px;
    grid-template-columns: 895px 125px 131px;
    width: 1147px;
    height: 234px;
  }
}
